<!-- hall-modal.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Add Hall</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="hallForm" (ngSubmit)="submitForm()">
    <!-- Form fields for booth_fitting, capacity, contact_info, floor_plan, name -->
    <ion-item>
      <ion-label position="floating">Booth Fitting</ion-label>
      <ion-input type="text" formControlName="booth_fitting"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Capacity</ion-label>
      <ion-input type="text" formControlName="capacity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contact Info</ion-label>
      <ion-input type="text" formControlName="contact_info"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Floor Plan</ion-label>
      <ion-input type="text" formControlName="floor_plan"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    
    <ion-button type="submit" expand="full" [disabled]="!hallForm.valid">Submit</ion-button>
  </form>
</ion-content>
