<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ user ? (
        user.userType === 'client' ? 'Halls' :
        user.userType === 'admin' ? 'Admin Home' :
        user.userType === 'attendee' ? 'Home' :
        'Unknown User Type'
      ) : '' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ user ? (
          user.userType === 'client' ? 'Halls' :
          user.userType === 'admin' ? 'Admin Home' :
          user.userType === 'attendee' ? 'Events' :
          'Unknown User Type'
        ) : '' }}
      </ion-title>    </ion-toolbar>
  </ion-header>

  <!-- ignore the error here, it works -->
  <!-- Start of attendee screen -->
  <div *ngIf="userType=='attendee'">
    <ion-searchbar (ionInput)="searchEvents($event)"></ion-searchbar>
    <!-- attendee.user@email.com, pass: admin123 -->
    <ion-list>
      
       
          <ion-card 
          *ngFor="let event of this.eventsCopy"
          routerLink="/event/{{event.name}}" routerDirection="forward"
          >
            <img src="{{event.picture[0]}}" alt="Event Picture">
            <ion-card-header>
            <ion-card-title>{{event.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- dates should not be timestamps -->
            <p><b>Starts:</b> {{event.start_date}}</p>
            <p><b>Ends:</b> {{event.end_date}}</p>
            <!--  should be hall name -->
            <p><b>Hall:</b> {{event.hall_name}}</p> 
            <p><b>Status:</b> {{event.status}}</p>

            <ion-button 
            color="primary" 
            size="small" 
            slot="start"
            routerLink="/event/{{event.name}}" routerDirection="forward"
            >
              Learn More
            </ion-button>
          </ion-card-content>
            </ion-card>
        </ion-list>
          
          
          
  </div>
  <!-- End of Attendee Screen  -->

  <!-- Start of client screen -->
  <div *ngIf="userType=='client'">
  
  </div>
  <!-- End of client Screen -->

</ion-content>
