<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ user ? (
        user.userType === 'client' ? 'Halls' :
        user.userType === 'admin' ? 'Admin Home' :
        user.userType === 'attendee' ? 'Home' :
        'Unknown User Type'
      ) : '' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ user ? (
          user.userType === 'client' ? 'Halls' :
          user.userType === 'admin' ? 'Admin Home' :
          user.userType === 'attendee' ? 'Events' :
          'Unknown User Type'
        ) : '' }}
      </ion-title>    </ion-toolbar>
  </ion-header>

  <!-- ignore the error here, it works -->
  <!-- Start of attendee screen -->
  <div *ngIf="userType=='attendee'">
    <ion-refresher slot="fixed" (ionRefresh)="handleAttendeeHomeRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar (ionInput)="searchEvents($event)"></ion-searchbar>
    <!-- attendee.user@email.com, pass: admin123 -->
    <ion-list>
          <ion-card 
          *ngFor="let event of this.eventsCopy"
          routerLink="/event/{{event.name}}" routerDirection="forward"
          >
            <img src="{{event.picture[0]}}" alt="Event Picture">
            <ion-card-header>
            <ion-card-title>{{event.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- dates should not be timestamps -->
            <p><b>Starts:</b> {{event.start_date}}</p>
            <p><b>Ends:</b> {{event.end_date}}</p>
            <!--  should be hall name -->
            <p><b>Hall:</b> {{event.hall_name}}</p> 


              <ion-button 
              color="primary" 
              size="small" 
              slot="start"
              routerLink="/event/{{event.name}}" routerDirection="forward"
              >
              Learn More
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-list>
  </div>
  <!-- End of Attendee Screen  -->

  <!-- Start of client screen -->
  <div *ngIf="userType=='client'">
    <ion-searchbar (ionInput)="searchHalls($event)"></ion-searchbar>
    <!-- attendee.user@email.com, pass: admin123 -->
    <ion-list>
      <ion-card 
      *ngFor="let hall of this.hallsCopy"
      >
        <!-- <img src="{{hall.picture[0]}}" alt="Event Picture"> -->
        <img [src]="hall.floor_plan" alt="Hall Picture" style="width: 100%; height: auto;">
        <ion-card-header>
        <ion-card-title>{{hall.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><b>Can Fit Upto:</b> {{hall.capacity}} <b>People</b></p>
        <!-- <p><b>Booth Fiting:</b> {{hall.booth_fiting}}</p> -->
          
        <!-- <p><b>Contact:</b> {{hall.contact_info}}</p> -->
        
        <ion-button 
        color="primary" 
        size="small" 
        slot="start"
        [routerLink]="['/hall', hall.name]" 
        routerDirection="forward"
      >
        Learn More
      </ion-button>
          </ion-card-content>
            </ion-card>
        </ion-list>
  </div>
  <!-- End of client Screen -->

   <!-- Start of admin screen -->
   <div *ngIf="user && user.userType === 'admin'">
    <ion-button expand="block" (click)="openHallModal()" >Add New Hall</ion-button>

    <ion-searchbar (ionInput)="searchHalls($event)"></ion-searchbar>
    <!-- attendee.user@email.com, pass: admin123 -->
    <ion-list>
          <ion-card 
          *ngFor="let hall of this.hallsCopy"
          >
            <!-- <img src="{{hall.picture[0]}}" alt="Event Picture"> -->
            <img [src]="hall.floor_plan" alt="Hall Picture" style="width: 100%; height: auto;">
            <ion-card-header>
            <ion-card-title>{{hall.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><b>Can Fit Upto:</b> {{hall.capacity}} <b>People</b></p>
            <!-- <p><b>Booth Fiting:</b> {{hall.booth_fiting}}</p> -->
              
            <!-- <p><b>Contact:</b> {{hall.contact_info}}</p> -->
            
            <ion-button 
            color="primary" 
            size="small" 
            slot="start"
            [routerLink]="['/hall', hall.name]" 
            routerDirection="forward"
          >
            Learn More
          </ion-button>
            <ion-button (click)="editHall(hall)" color="primary" size="small" slot="start">
              <ion-icon name="create"></ion-icon> Edit
            </ion-button>
              <ion-button (click)="deleteHall(hall.name)"             color="primary" 
              size="small" 
              slot="start" color="danger">
                <ion-icon name="trash"></ion-icon> Delete
              </ion-button>
          </ion-card-content>
            </ion-card>
        </ion-list>
  </div>
  <!-- End of admin Screen -->


</ion-content>
