<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="settings-list">
    <ion-item lines="none">
      <ion-button expand="full" (click)="viewEdit()">Edit Profile</ion-button>
    </ion-item>

    <ion-item *ngIf="user.userType === 'admin'" lines="none">
      <ion-button expand="full" (click)="viewAddAdmin()">Add Admin</ion-button>
    </ion-item>

    <ion-item *ngIf="user.userType === 'admin'" lines="none">
      <ion-button expand="full" (click)="viewEditAdmin()">Edit Admin</ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-button expand="full" (click)="signOut()">Sign Out</ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-button expand="full" (click)="deleteAccount()">Delete Account</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
