<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create Custom Event</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <form [formGroup]="eventForm">
    <ion-item>
      
      <ion-input label="Event Name" formControlName="eventName"></ion-input>
    </ion-item>
  
    <ion-item>
    
      <ion-input label="Agenda" formControlName="agenda"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMMM D, YYYY h:mm A" pickerFormat="MMMM D, YYYY h:mm A" formControlName="startDate"></ion-datetime>
    </ion-item>
  
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MMMM D, YYYY h:mm A" pickerFormat="MMMM D, YYYY h:mm A" formControlName="endDate"></ion-datetime>
    </ion-item>
  
    <!-- <div formArrayName="picture">
      <div *ngFor="let ctrl of eventForm.get('picture').controls; index as i">
        <ion-item>
          <ion-input [label]="'Picture '+i" [formControlName]="i"></ion-input>
        </ion-item>
      </div>
    </div> -->

    <ion-item>
      <ion-input label="Picture 1" formControlName="pic1" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Picture 2" formControlName="pic2" required></ion-input>
    </ion-item>
  
    
    <ion-item>
      
      <ion-input label="Speaker Name" formControlName="speakerName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Hall Name</ion-label>
      <ion-select formControlName="hallName">
        <ion-select-option *ngFor="let hall of halls" [value]="hall">{{hall}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input label="Update Header" formControlName="updateHeader" required></ion-input>
    </ion-item>
  
    <ion-item>
      
      <ion-input label="Update Text" formControlName="updates"></ion-input>
    </ion-item>
  
    <ion-button (click)="submit()" expand="block" [disabled]="!eventForm.valid">Submit</ion-button>
  </form>
  

</ion-content>
