<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.eventName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{this.eventName}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="https://placehold.co/600x400" alt="">
  <div class="ion-padding">

    <br>
    
    <!-- 
      Event Agenda
    Speakers
    Exhibition/ Floor Plan
    Registration (for attendees)
    Attendees
    Updates
  -->
  <h3>Agenda</h3>
   {{this.event.agenda}}
   <br>
   
   <h3>Speakers</h3>
   <ion-text *ngFor="let name of this.speakers">{{name}}<br></ion-text> 
   <br>
   <br>

   <h3>Exhibition/ Floor Plan</h3>
   {{this.floorPlan}} <br>
   
   <h3>Attendees</h3>
   <ion-text *ngFor="let attendee of this.attendees">{{attendee}} <br></ion-text>
   <!--    
  
  <h2>Updates</h2> <br>
  {{this.event.updates}} <br> -->
  
  <ion-button color="success" expand="full" size="large" (click)="registerEvent()">REGISTER</ion-button>
</div>
</ion-content>
