<!-- hall-edit-modal.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit Hall</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Booth Fitting</ion-label>
    <ion-input type="text" [(ngModel)]="editedHall.booth_fiting" name="booth_fiting"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Capacity</ion-label>
    <ion-input type="text" [(ngModel)]="editedHall.capacity" name="capacity"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contact Info</ion-label>
    <ion-input type="text" [(ngModel)]="editedHall.contact_info" name="contact_info"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Floor Plan</ion-label>
    <ion-input type="text" [(ngModel)]="editedHall.floor_plan" name="floor_plan"></ion-input>
  </ion-item>

    <!-- Add more form fields for other hall properties -->

    <ion-button expand="full" (click)="updateHall()">Update Hall</ion-button>
</ion-content>
