<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>hall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{this.hallName}}</ion-title>
    </ion-toolbar>
  </ion-header> 
  
  <ion-card>
    <img [alt]="hall" [src]="hall.floor_plan" style="width: 100%; height: auto;" />
    <ion-card-header>
      <ion-card-title>{{hall.name}}</ion-card-title>
      <ion-card-subtitle>Capacity: {{hall.capacity}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>
       Booth fitting:  {{hall.booth_fiting}}
      </p>
      <p>
       Contact info:  {{hall.contact_info}}
      </p>
      <ion-button (click)="deleteHall(hall.name)"             color="primary" 
              size="small" 
              slot="start" color="danger">
                <ion-icon name="trash"></ion-icon> Delete
              </ion-button>
    </ion-card-content>
  </ion-card>
  <div>
    <h1>Reservation History</h1>
    <table>
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.name }}</td>
          <td>{{ event.start_date }}</td>
          <td>{{ event.end_date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
